*.pyc
.idea/*
local_env.py
local_env.py~
public_media/*
.DS_Store
tmp/*
heroku.cfg
build/
settings/ssh/*
ghostdriver.log
tmp/
celerybeat-schedule
celeryev.pid
celerybeat-schedule.db
.vagrant/
supervisord.log
supervisord.pid
node_modules/*
*.pid
xapian_index
docker_data/*
credentials.json
ui/*
