Django==1.8.5
-e git+https://github.com/obytes/django-constance.git@e1b6d7b405c26ba66dda9cff19d7a9b1f6e79fc9#egg=django_constance-master
django-suit==0.2.15
numpy==1.10.1
pandas==0.17.0
pylab==0.1.3
seaborn==0.6.0
simplegeneric==0.8.1
six==1.10.0
sympy==0.7.6.1
zipline==0.7.0
gunicorn==19.3.0
