{% load i18n utils %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <link href="{{ STATIC_URL }}images/favicon.png" rel="icon" type="image/png">
    <meta content="Trading, Currencies, Stocks" name="keywords">
    <meta name="author" content="Ahmed Elhamidi" />

	<!-- CSS Styles & compressions starts here -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
    <!-- CSS Styles & compressions ends here -->

    <!-- JavaScript & compressions starts here -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="{{ STATIC_URL }}javascript.js"></script-->
    {% block js %}{% endblock %}
    <!-- JavaScript & compressions ends here -->


	<title>Trading{%block title %} - Home page{%endblock%}</title>
</head>
<body>

 <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="mainMenu {% if request.get_full_path|match_url:"index" %}active{% endif %}">
            <a href="{% url 'index' %}"><i class="icon-home"></i> Home</a>
            </li>

            <li class="mainMenu {% if request.get_full_path|match_url:"weights" %}active{% endif %}">
            <a href="{% url 'weights' %}"><i class="icon-home"></i> Weights</a>
            </li>

            <li class="mainMenu {% if request.get_full_path|match_url:"metrics" %}active{% endif %}">
            <a href="{% url 'metrics' %}"><i class="icon-home"></i> Metrics</a>
            </li>

            <li class="mainMenu {% if request.get_full_path|match_url:"contact" %}active{% endif %}"">
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        <h3 class="text-muted" style="height: 100px;"><a href="/"><img src="{{STATIC_URL}}images/logo.png"></a>
        </h3>
      </div>
      {% block content %}{% endblock %}
      <div class="footer">
          <div id="social">
              <h3>Follow Me</h3>
              <ul>
                  <li>
                      <a href="https://twitter.com/ahmedouvic">
                          <img alt="twitter" src="{{ STATIC_URL }}images/twitter.png"></a>
                  </li>
                  <li>
                      <a href= "https://www.facebook.com/elhamidi.ahmed">
                          <img alt="facebook" src="{{ STATIC_URL }}images/facebook.png"></a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/pub/elhamidi-ahmed/1a/98/63">
                          <img alt="linkedin" src="{{ STATIC_URL }}images/linkedin.png"></a>
                  </li>
              </ul>
          </div>
        <p>&copy; Ahmed Elhamidi</p>
      </div>
    </div> <!-- /container -->
</body>
</html>
